In [1]:
# 라이브러리
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. 데이터프레임 생성/저장

### 1.1.생성

In [2]:
# 리스트
list01 = [[1,3,5],
          [2,4,6]]
names = ['A','B','C']
list01_index = [0,1]

df1 = pd.DataFrame(list01, index= list01_index, columns= names )

# 딕셔너리
dict01 = { 'A' : [2,30],
          'D': [40,50]}

df2 = pd.DataFrame(dict01)

### 1.2. csv

In [ ]:
# 데이터 읽어오기
df = pd.read_csv('test.csv')

In [ ]:
# 데이터 저장
df.to_csv('df.csv', index=False)

# 2. 데이터프레임 탐색

In [ ]:
# 상위 데이터 확인
df.head()

# 하위 데이터 확인
df.tail()

In [ ]:
# 크기 확인
df.shape

In [ ]:
# 데이터프레임 구조 확인
df.info()

In [ ]:
# 데이터프레임 기술통계 확인
df.describe()

In [ ]:
# 값 개수 확인
df.value_counts()

In [ ]:
# 오름차순 정렬
df.sort_values(by = 'col', ascending = True, inplace=True)

# 내림차순 정렬
df.sort_values(by = 'col', ascending = False, inplace=True)

In [ ]:
# 특정 타입 컬럼만 추출
df.select_dtypes(include= 'object')  # 숫자는 number

# 컬럼명만 추출
df.select_dtypes(include= 'object').columns.values

# 3. 데이터프레임 조회

In [ ]:
# 특정 열 조회
df[['col']]
df[['col1','col2']]

In [ ]:
# 조건 조회
df.loc[ df['col'].between(1,5) ]

# 조건에 맞는 특정 열 조회
df.loc[ df['col'].between(1,5), ['col2']]

# 4. 데이터프레입 집계

In [ ]:
# day별 매출 합계
df = df.groupby(by='day', as_index=False)['Amt'].sum()

# 5. 데이터프레임 변경

### 5.1. 변경

In [ ]:
# 열 이름 변경
df.rename(columns = {'old':'new'}, inplace=True)

In [ ]:
# 값 변경
df['Gender'] = df['Gender'].replace({'M':1, 'F':2})

In [ ]:
# 타입 변환
df['col'] = df['col'].astype(int) # 정수로 변환

In [ ]:
# 날짜
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Year'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.day_name()

### 5.2. 삭제

In [ ]:
# 열/행 삭제
df.drop('col', axis=1, inplace=True)

In [ ]:
# 중복된 값 제거
df.drop_duplicates(subset='col', keep='first') # subset 특정 열 중복 검사, keep 첫번째값 유지.

### 5.3. 결측치

In [ ]:
# 결측값 확인
df['col'].isna().sum()

In [ ]:
# 결측치값 채우기
df['col'].fillna(1, inplace=True)

### 5.4. 가변수화

In [ ]:
# 가변수화
dumm_cols = ['col1','col2']
df = pd.get_dummies(df, columns= dumm_cols, drop_first=True, dtype=int)

# 6. 데이터프레임 조인

In [3]:
display(df1, df2)

   A  B  C
0  1  3  5
1  2  4  6

    A   D
0   2  40
1  30  50

In [4]:
# merge - outer
df = pd.merge(df1, df2, on='A', how='outer')

df

    A    B    C     D
0   1  3.0  5.0   NaN
1   2  4.0  6.0  40.0
2  30  NaN  NaN  50.0

In [5]:
# merte - inner
df = pd.merge(df1, df2, on='A', how='inner')

df

   A  B  C   D
0  2  4  6  40

In [6]:
# merge - left
df = pd.merge(df1, df2, on='A', how='left')

df

   A  B  C     D
0  1  3  5   NaN
1  2  4  6  40.0

In [7]:
# merge - right
df = pd.merge(df1, df2, on='A', how='right')

df

    A    B    C   D
0   2  4.0  6.0  40
1  30  NaN  NaN  50

# 7. 시각화

In [ ]:
# 차트에 한글폰트 설정
plt.rc('font', family='Malgun Gothic')

In [ ]:
# plt.
plt.figure(figsize = (5,3)) # 크기조절
plt.xticks(rotation=45)     # x축 기울기
plt.bar(x= df['col1'], height= df['col2'])
plt.title('title', pad=15, size = 15, fontweight='bold')
plt.xlabel('x label')
plt.ylabel('y label')
plt.show()

In [ ]:
# plot()
df.plot(kind='bar')         # 차트 종류

# 1-1. 유통채널 이탈 고객 분석 데이터

## 날짜별 집계

- 일별 매출액

In [ ]:
#날짜 데이터형식 변환(pd.to_datetime 사용)
df['colunm_name'] = pd.to_datetime(df['column_name'])

#특정 기간 데이터 추출(조건 추출: loc 함수 사용)
a = df.loc[sales['column'] < '특정 기간']

#일별 매출액 합계, 일별 고객당 평균 구매액, 일별 방문 고객 수 등(groupby 함수, 집계 함수 사용)
a = df.groupby('기준 컬럼명', as_index = False)['집계 컬럼명'].sum()
a = df.groupby('기준 컬럼명', as_index = False)['집계 컬럼명'].mean()
a = df.groupby('기준 컬럼명', as_index=False)['집계 컬럼명'].count()

- 월별 매출액

In [ ]:
#월 컬럼 생성
df['colunm_name'] = pd.to_datetime(df['column_name'])
df['Month'] = df['날짜형 컬럼'].dt.month

#월별 매출액 합계(날짜 기준으로 데이터 계산)
a = df.groupby(['Year','Month'], as_index = False)['집계 컬럼명'].sum()

- 요일별 매출액

In [ ]:
#요일 컬럼 추가
df['Weekday'] = df['날짜형 데이터'].dt.day_name()

## 상품별 집계 데이터

- 매출액 상위 상품

In [ ]:
#top10 추출
top10 = df.sort_values('정렬 기준 칼럼명', ascending = False).head(10)

In [ ]:
#비중 칼럼 생성
df['Rate'] = df['Amt'] / df['Amt'].sum()

## 이탈 고객 데이터 전처리

- 대상 고객 만들기

In [ ]:
#대상 고객 조건1(가입연도 2014-16년)
cust01 = customers.loc[customers['RegisterDate'].between('2014-01-01', '2016-12-31')]

#대상 고객 조건2(2016 하반기 구매 이력)
cust02 = sales.loc[sales['OrderDate'].between('2016-07-01', '2016-12-31')]
#중복행 제거
cust02 = cust02.drop_duplicates(subset='CustomerID', keep='first')

#두 조건을 만족하는 데이터
cust_churn0 = pd.merge(cust01, cust02, on='CustomerID', how='outer')

In [ ]:
#중복행 제거 함수
df = df.drop_duplicates(subset='중복행 제거 기준 열', keep='남길 행 기준')

- label 만들기

In [ ]:
#이탈 고객 여부(2017년 1-3월간 구매이력이 있는지)
cust03 = sales.loc[sales['OrderDate'].between('2017-01-01', '2017-03-31'),['CustomerID']].drop_duplicates(keep='first')

#label 열 추가
cust03['churn'] = 0

In [ ]:
#대상 고객이 이탈 고객인지 확인할 수 있는 데이터 생성
cust_churn0 = pd.merge(cust_churn0, cust03, how = 'left')

#이탈 고객인 데이터 형식 변환(churn 열의 결측치)
cust_churn0['churn'].fillna(1, inplace = True)

#이탈 고객 수 확인
cust_churn0['churn'].value_counts()

- feature 추가하기: label에 영향을 줄 수 있는 원인 탐색

In [ ]:
# 가입연수 feature 추가
cust_churn0['RegDuration'] = 2016 - cust_churn0.RegisterDate.dt.year

#최근 3개월간 방문 횟수
temp = sales.loc[sales['OrderDate'].between('2016-10-01', '2016-12-31')]
temp = temp[['OrderID', 'OrderDate','CustomerID']].drop_duplicates()
temp2 = temp.groupby('CustomerID', as_index=False)['OrderDate'].count()

#최근 3개월간 구매 금액
temp2 = temp.groupby('CustomerID', as_index=False)['Amt'].sum()

## 데이터셋 저장

In [ ]:
#데이터셋 저장
df.to_csv('파일명.csv', index=False)

# 1-2. 토익점수 예측 데이터

## 데이터 전처리

In [ ]:
#필요없는 칼럼 제거
data.drop('칼럼명', axis=1, inplace=True)

- 관련있는 열끼리 분리해서 새 데이터프레임 생성

In [ ]:
#예: 수강생 개인 정보와 토익 공부에 대한 정보로 분리 등 
df1 = df[['col1', 'col2', 'col3'...]]
df2 = df[['col7', 'col8', 'col9'...]]

- 중복값 제거

In [ ]:
#분리된 칼럼 내 중복값 제거
df = df.drop_duplicates()

- 각 정보를 한 행으로 만들기

In [ ]:
#예: 총 점수 열 -> 회차별 점수 열로 분리(총 점수 열에 들어있던 각 회차별 정보를 한 행으로 만들기)
df1 = df.loc[df['분리 기준 열'] == '특정값'] #특정 값 추출 후 데이터프레임 생성
df1 = df1.rename(columns={'LC_Score': '3st_LC_Score', ...}) #열 이름 변경

- 새로 생성한 데이터프레임 병합

In [ ]:
#각 정보를 담은 데이터프레임 병합
total_df = pd.merge(df1, df2, on='기준 열', how='방식')

- 레이블 컬럼 생성

In [ ]:
#2차시, 3차시 점수 차이 변수 생성
baseline_data['Score_diff_total'] = baseline_data['3st_Total_Score'] - baseline_data['2st_Total_Score']

## 데이터 다듬기

In [ ]:
#고유값 확인
data.select_dtypes(object)
data.select_dtypes(['number'])

In [ ]:
#칼럼명 확인
data.columns.values

In [ ]:
#데이터가 차지하는 비율 구하기
data['칼럼명'].value_counts()/ len(data)

In [ ]:
#빈도수 데이터 시각화
df['칼럼명'].value_counts().plot(kind='bar')
plt.show()

In [ ]:
#값 변경
data['컬럼명']=data['컬럼명'].replace(['기존값1', '기존값2'], [새로운 값1, 새로운 값2])